venv/
.venv/*

*.pyc
__pycache__/

*.log
*.tmp
*.swp
*.DS_Store  # Archivos de macOS
*.idea  # Configuracion de IntelliJ IDEA

alembic/versions/*

.dockerenv

dist/
build/
*.egg-info/

*.csv
*.json
*.sqlite